.order__container {
  margin: 0;
  padding: 20px;
  @media (min-width: 768px) {
    margin: 50px auto;
    padding: 50px;
  }
}

.orderNotFound__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h4 {
    text-align: center;
    color: #00baff;
    font-weight: 600;
  }
  p {
    text-align: center;
  }
  a {
    color: #00baff;
  }
}