.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.menu__link {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-common-light);
    border-radius: 4px;
    transition: background-color 0.5s ease;
}
  
.menu__link:hover {
    background-color: rgba(255, 255, 255, .2);
}

@media (max-width: 700px) {
    .nav {
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      padding: 16px;
      margin-top: 56px;
      background-color: var(--color-brand-primary);
      transform: translateX(-107vw);
    }
  
    .nav--open {
      transform: translateX(-7vw);
      transition: transform 300ms ease-out;
    }
  
    .menu {
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      height: 70vh;
    }
  
    .menu__item {
      margin: 0;
      list-style-type: none;
    }
}

@media (min-width: 701px) {
    .nav__button {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu__item {
        display: inline;
    }
}
  