.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    margin-right: 1rem; /* Espaçamento entre o ícone do menu e a logo */
  }
  
  .logo {
    max-width: 7rem;
    height: auto;
  }
  