@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #2E3545;
}

:root {
  --loggi-color: 0, 186, 255;
  --light-text: #757d8c;
}

body {
  background: #FFF;
}

button {
  background: linear-gradient(90deg, #00baff, #007cff) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: none !important;
}

fieldset {
  height: 44px;
}

input {
  padding: 8px 16px !important;
}

.button--big {
  width: 205px;
}

.button--small {
  min-width: 45px;
  width: 45px;
}

.div--info {
  width: 496px;
}

.div--instruction {
  background: linear-gradient(90deg, #F4F6F8, #ECEEF0);
}

.div--tracker {
  background: #0055FF;
  height: calc(100vh - 19.8rem);
}

.div--status {
  background: linear-gradient(90deg, #00baff, #007cff);
}

.img {
  margin-left: -68px;
}

.MuiOutlinedInput-root fieldset {
  border: 1px solid #757d8c;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #00baff !important;
}

.error .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: red !important;
}

.span--gray {
  color: var(--light-text);
}

.span--blue {
  color: rgb(var(--loggi-color));
}
