:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #00BAFF 47%, #006AFF 72%, #003B99 120%);

}

span{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: small;
}
