.home__trackingBox {
  padding: 20px 30px;
  border-radius: 15px;
  color: #00baff;
  margin: 0 auto;
  h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 34px;
      font-weight: 600;
      margin-bottom: 32px;
    }
  }
  @media (min-width: 768px) {
    padding: 30px 40px;
    margin: 50px auto;
  }

  .trackingBox__form {
    > div,
    > button {
      width: 100%
    }
    @media (min-width: 768px) {
      > div,
      > button {
        width: auto;
      }
    }
  }  
}