.banner
    align-items: center
    background: url(https://s3-sa-east-1.amazonaws.com/loggi-production-static/tracker-web-ui/images/package-ff9eb72c01531c46f6a2c2a5fbcb975c.png) no-repeat bottom right / contain, var(--blue-gradient, #006aff)
    display: flex
    height: auto
    min-height: 28rem
    width: 100%

.box
    &__title
        font-size: 1.4rem
        font-weight: 400
        line-height: 1.2
        margin-bottom: 3rem

    &__label
        display: block
        line-height: 2rem

.input,
.button
    box-sizing: border-box
    width: 100%

.input 
    border-radius: .5rem
    border: 1px solid var(--gray, #d4d4d4)
    font-family: Open Sans,Tahoma,Helvetica,Arial,sans-serif
    font-size: 1rem
    margin-bottom: .3rem
    outline: none
    padding: 1rem

.button
    align-items: center
    background: var(--button-gradient, #00baff)
    border: none
    border-radius: .5rem
    color: var(--white, #ffffff)
    cursor: pointer
    display: flex
    font-weight: bold
    font-size: 1rem
    gap: .5rem
    justify-content: center
    padding: 1rem

    &--icon
        margin-top: -.3rem
        width: .8rem


