.banner
    align-items: center
    background: url(https://s3-sa-east-1.amazonaws.com/loggi-production-static/tracker-web-ui/images/package-ff9eb72c01531c46f6a2c2a5fbcb975c.png) no-repeat bottom right / contain, var(--blue-gradient, #006aff)
    display: flex
    height: auto
    min-height: 28rem
    width: 100%