.tracking-form-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}
  
  /* Estilos para a versão mobile */
  .tracking-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #53B6F9;
    
  }
  
  .tracking-box p {
    margin-bottom: 1rem;
    color: #ffffff; /* Texto branco na versão mobile */
    font-weight: bold;
  }
  
  .tracking-box input {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 9px;
    border: #0C2460 1px solid;
    background-color: #ffffff; /* Fundo branco no input na versão mobile */
  }
  
  .tracking-box button {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem 1rem;
    background-color: #2964F7;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {

    .desktopPhrase {
        color: #ffffff;
        font-size: larger;
        font-weight: bold;
        margin-top: 2rem;
        margin-left: 8rem;
    }

    #desktop-text {
        margin-left: 15rem;
        margin-bottom: -5rem;
    }

    .desktop-container {
      position: absolute;
      height: 40rem;
      top: 0px; 
      left: 0;
      right: 0;
      bottom: 0; /* Ocupar a altura total da tela */
      background: linear-gradient(180deg, #53B6F9 45.27%, rgba(83, 182, 249, 0.00) 100%);
      z-index: -1; /* Enviar o container para trás dos elementos da tela */
      overflow: hidden; /* Impedir que o conteúdo do tracking-box ultrapasse o container */
    }
  
    .tracking-form-container {
      position: relative; /* Permitir que o .desktop-container fique posicionado corretamente */
      margin-bottom: 30px; /* Espaço em branco abaixo do container */
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-image: url('../../Assets/imgDesktop.png');
      background-repeat: no-repeat;
      background-size: 40% auto;
      background-position: right 50px center;
    }

    .tracking-box {
      background-color: #ffffff; /* Fundo branco na versão desktop */
      margin-top: 20px; /* Espaço entre o novo container e a tracking-box */
      z-index: 1; /* Elevar a tracking-box para que ela fique na frente do container */
      margin-top: 7rem;
      margin-left: 10rem;
      width: 30rem;
      height: 20rem;
    }
  
    .tracking-box p {
      color: #0C2460; /* Texto azul escuro na versão desktop */
      font-weight: bold;
      font-size: larger;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  
    .tracking-box input {
      background-color: #ffffff; /* Fundo branco no input na versão desktop */
      border: #0C2460 1px solid;
      margin-top: 1rem;
      padding: 1rem
    }

    .tracking-box button {
      padding: 1rem;
    }

  }